<!doctype html>
<html lang="en">

<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <!-- <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;
        }
    </style> -->

</head>

<body ng-app="LunchCheck">
    <div class="container">
        <h1>Lunch Checker</h1>

        <div ng-controller='LunchCheckController'>
            <div class="form-group " ng-style="customStyle.style2 "> <input type="text " ng-model="lunchList " class="form-control"></div>
            <div class="form-group "><button ng-click="calculateResponse(); ">Check If Too Much</button></div>
            <div ng-style="customStyle.style ">{{message}} </div>
        </div>Empty Items are Not Counted.</div>
    </div>

    </div>

</body>

</html>